<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>name: <%= @name %></p>
    <p>email: <a href="mailto:<%= @email %>"><%= @email %></a></p><br>
    <p><%= @text %></p>
  </body>
</html>