.col-md-8
  - if @products.empty?
    %h3 Nothing was found
  -else
    %h3= "#{pluralize(@products.count, 'car')} were found:"
    %br
    - @products.each do |product|
      %h4
        = link_to product.title, product
  .pagination-center= will_paginate @products
