<div class="col-md-5">
  <h4>Or with socials</h4>
  <a class="btn btn-block btn-social btn-facebook" href="/users/auth/facebook">
    <i class="fa fa-facebook"></i> Sign in with Facebook
  </a>
</div>