/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Satisfy);

input[type=submit] {
  @extend .btn;
  @extend .btn-primary;
}

@font-face {
    font-family: 'sketchgeometricregular';
    src: font-url('sketchgeometric-webfont.eot');
    src: font-url('sketchgeometric-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('sketchgeometric-webfont.woff') format('woff'),
         font-url('sketchgeometric-webfont.ttf') format('truetype'),
         font-url('sketchgeometric-webfont.svg#sketchgeometricregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AwakeRegular';
    src: font-url('awake-regular-webfont.eot');
    src: font-url('awake-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('awake-regular-webfont.woff') format('woff'),
         font-url('awake-regular-webfont.ttf') format('truetype'),
         font-url('awake-regular-webfont.svg#AwakeRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0 2%;
  font-family: 'AwakeRegular';
  color: white;
  background-color: #4C3D3D;
}

a {
  color: #FFCC00;
}

a:hover {
  color: #B28F00;
}

.title {
  font-family: 'sketchgeometricregular';
  text-align: center;
}

.credo {
  font-family: 'Satisfy', cursive;
  font-size: 20px;
  text-align: center;
}

.table > tbody > tr > td.no-line {
  border: none;
}

.table > tbody > tr > td.no-line {
  border: none;
}

.table > tbody > tr > td.large {
  font-size: 18px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #706464;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.review-author {
  padding-top: 1%;
  font-style: italic;
}

.no-review {
  font-style: italic;
}

.wrap-text {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.no-wrap {
  width: 100%;
}

.footer {
  text-align: center;
  margin-top: 10%;
}

.modal-content {
  background-color: #706464;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.modal-footer {
  border-top: none;
}