/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

input[type=submit] {
  @extend .btn;
  @extend .btn-primary;
}

body {
  margin: 0 2%; 
}

.table > tbody > tr > td.no-line {
  border: none;
}

.table > tbody > tr > td.review-padding-bottom {
  padding-bottom: 5%;
}

.sign-in {
  text-align: right;
  font-size: 120%;
  padding-top: 2.5%;
}

.review-author {
  font-style: italic;
}

.no-review {
  font-style: italic;
}
