// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-in {
  text-align: right;
  font-size: 120%;
  padding-top: 2.5%;
}