.col-md-9
  %h4= @category.name.pluralize + ":"
  %table{class: "table table-hover"}
    - @category.products.each do |product|
      %tr
        %td= link_to product.title, product_path(id: product.id)
        - if user_signed_in? && current_user.is_admin
          %td.col-md-2= link_to("Edit", edit_product_path(product), class: "btn btn-default btn-xs") + " " + link_to("Delete", product, method: :delete, data: {confirm: "Are you sure?"}, title: "Delete product", class: "btn btn-danger btn-xs")
  - if user_signed_in? && current_user.is_admin
    %p= link_to "Add product", new_product_path, class: "btn btn-primary btn-small"