.col-md-8
  %h4 Products:
  %table.table.table-hover
    = render @products.newest_last
  .pagination-center= will_paginate @products
    
  = add_product

#delete_product{ title: "Delete product" }
  %p Are you sure?
