<div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'devise/sessions/new' %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>